<header>
    <nav class ="navbar navbar-expand-md navbar-light bg-light">
      <div><a href="#" class="navbar-brand">Wipro Test</a></div>
      
      <ul class="navbar-nav">
        <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/" class="nav-link">Visualizar produtos</a></li>
        <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/addproduct" class="nav-link">Novo produto</a></li>    
        <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
        <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
      </ul>    
    </nav>    
</header>